li.sequence-member .struct-block .sequence-container {
  width: 100%;
}

li.sequence-member .sequence-member-inner .sequence-type-list .sequence-container-inner {
  width: 100%;
}

.field-content {
  width: 100%;
}
